<div class="sideMenuPart" id="app-nav-submenu" pageId="app::////PointingToDeclaration//492899073">
  <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="index.html"><span><span>app</span></span></a></div>
  <div class="sideMenuPart" id="app-nav-submenu-0" pageId="app::com.example.equamusicplayer////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.equamusicplayer/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span><span>equamusicplayer</span></span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-0-0" pageId="app::com.example.equamusicplayer/AlbumsFragment///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer/-albums-fragment/index.html"><span>Albums</span><wbr></wbr><span><span>Fragment</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-1" pageId="app::com.example.equamusicplayer/MainActivity///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer/-main-activity/index.html"><span>Main</span><wbr></wbr><span><span>Activity</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-2" pageId="app::com.example.equamusicplayer/MusicListFragment///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer/-music-list-fragment/index.html"><span>Music</span><wbr></wbr><span>List</span><wbr></wbr><span><span>Fragment</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-3" pageId="app::com.example.equamusicplayer/MusicPlayer///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer/-music-player/index.html"><span>Music</span><wbr></wbr><span><span>Player</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-4" pageId="app::com.example.equamusicplayer/PlayerFragment///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer/-player-fragment/index.html"><span>Player</span><wbr></wbr><span><span>Fragment</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-5" pageId="app::com.example.equamusicplayer/PlayerNotification///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer/-player-notification/index.html"><span>Player</span><wbr></wbr><span><span>Notification</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-6" pageId="app::com.example.equamusicplayer/SettingsFragment///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer/-settings-fragment/index.html"><span>Settings</span><wbr></wbr><span><span>Fragment</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-7" pageId="app::com.example.equamusicplayer/SongData///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer/-song-data/index.html"><span>Song</span><wbr></wbr><span><span>Data</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-0-8" pageId="app::com.example.equamusicplayer/SongRecyclerAdapter///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer/-song-recycler-adapter/index.html"><span>Song</span><wbr></wbr><span>Recycler</span><wbr></wbr><span><span>Adapter</span></span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-1" pageId="app::com.example.equamusicplayer.services////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.equamusicplayer.services/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span>equamusicplayer.</span><wbr></wbr><span>services</span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-1-0" pageId="app::com.example.equamusicplayer.services/BroadCastReceiverService///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer.services/-broad-cast-receiver-service/index.html"><span>Broad</span><wbr></wbr><span>Cast</span><wbr></wbr><span>Receiver</span><wbr></wbr><span><span>Service</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-1-1" pageId="app::com.example.equamusicplayer.services/NotificationActionService///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer.services/-notification-action-service/index.html"><span>Notification</span><wbr></wbr><span>Action</span><wbr></wbr><span><span>Service</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-1-2" pageId="app::com.example.equamusicplayer.services/OnClearFromRecentService///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.equamusicplayer.services/-on-clear-from-recent-service/index.html"><span>On</span><wbr></wbr><span>Clear</span><wbr></wbr><span>From</span><wbr></wbr><span>Recent</span><wbr></wbr><span><span>Service</span></span></a></div>
    </div>
  </div>
</div>

